@import "tailwindcss";

#background {
   background:
      radial-gradient(120px circle at 15% 20%, rgba(161, 142, 142, 0.35), transparent 60%),
      radial-gradient(180px circle at 80% 25%, rgba(0, 0, 0, 0.28), transparent 60%),
      radial-gradient(140px circle at 30% 70%, rgba(0, 0, 0, 0.25), transparent 60%),
      radial-gradient(220px circle at 75% 75%, rgba(19, 18, 18, 0.84), transparent 60%);


    background-blend-mode: screen, screen, screen, screen, normal;
    background-size: 25px 25px;
    background-position: -19px -19px;
}

#Roboto{
    font-family: "Devanagari Sangam MN";
}